
.cars-list{
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        text-align: center;
    }
    &__inner-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        > a{
            // max-width: 100%;
        }
    }
    &__single-ad{
        border: 1px solid rgb(198, 196, 196);
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        font-size: 18px;
        padding: 5px;
        justify-content: space-between;
        position: relative;
        width: 100%;
        &.pint-ad{
            img{
                width: 100%;
            }
        }
        .date{
            font-size: 14px;
            color: gray;
        }
        &.hidden{
            opacity: .8;
        }

    }
    &__admin-details{
        display: flex;
        justify-content: flex-start;
        column-gap: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }

}

.car-ad{
    &__price{
        color: rgb(184, 184, 184);
        font-size:14px;
        font-weight: 700;
    }
    &__wrapper{
        position: relative;
        .dropdown{
            display: block;
            position: absolute;
            z-index: 2;
            right: 0;
        }
    }
    &__hidden-mark{
        background:gray;
        display: block;
        position: absolute;
        left: 0;
        top:0 ;
        z-index: 2;
        padding: 5px 10px;
    }
    &__image{
        display: block;
        position: relative;
        width: 100%;
        // height: calc(width * 0.75);
        padding-bottom: 65%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-color: lightgray
        // img{
        //     object-fit: scale-down;
        // }
    }
    &__title{
        color:white;
        font-size: 14px;
        line-break: anywhere;
        text-overflow: ellipsis;
        // white-space: nowrap;
        overflow: hidden;
    }
    
    &__details{
        text-align: left;
        // background:pink;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    &__details-lower{
        display:flex;
        justify-content: space-between;
    }
    &__details-row{
        display: flex;
        font-size: 14px;
        column-gap: 10px;
        > div{
            display: flex;
            align-items: center;
           svg{
            margin-right: 5px;
           } 
        }
    }
    &__source{
        background: grey;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 12px;
    }
}

@media screen and (min-width: 500px) {
    .cars-list{
        &__inner-wrapper{
            // background: pink;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__single-ad{
            width: 450px;
        }
    }
}