.cars-list{
    &__wrapper{
        display: flex;
        flex-direction: column;

    }
    &__single-ad{
        border: 1px solid rgb(198, 196, 196);
        display: flex;
        margin-bottom: 5px;
        font-size: 18px;
        padding: 5px;
        justify-content: space-between;
        position: relative;
        .date{
            font-size: 14px;
            color: gray;
        }
    }
}

.car-ad{
    &__price{
        color: rgb(184, 184, 184);
        font-size:14px;
        font-weight: 700;
    }
    &__image{
        display: block;
        position: relative;
        max-width: 150px;
    }
    &__title{
        // color:red
        font-size: 14px;
    }
    
    &__details{
        text-align: left;
        // background:pink;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    &__details-lower{
        display:flex;
        justify-content: space-between;
    }
    &__source{
        background: grey;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 12px;
    }
}


