.app-menu{
    &__wrapper{
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    &__main{
        display: flex;
        flex-direction: row;
    }
    &__item{
        margin-right: 10px;
    }
}