.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

}

a{
  color: white;
  text-decoration: none;
}

.btn{
  max-width: 100%;
  min-height: 30px;
  display: block;
  padding: 15px;
  margin-bottom: 5px;
}


.logo-wrapper{
  max-width:200px;
  margin-bottom:20px;
  margin-top:20px;
}

img{
  max-width:100%;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.main-content-wrapper{
  min-height: 70vh;
  display: flex;
  justify-content: center;
}